.flipbox .card-front, .flipbox .card-back {
  width: 100%;
  height: 100%;
  -webkit-transform: perspective(600px) rotateY(0deg);
  transform: perspective(600px) rotateY(0deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.5s linear 0s;
}

.flipbox .card-back {
  -webkit-transform: perspective(1600px) rotateY(180deg);
  transform: perspective(1600px) rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}